
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main app div */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

td.completed { text-decoration: line-through; color: #808080 }