<input type="search" class="form-control" placeholder="List Filter" ng-model="filterText"/>
<p>
    {{ remaining() }} of {{ tasks.length }} task(s) remaining
    <button class="btn btn-success btn-xs" ng-click="clearCompleted()">Clear Completed</button>
</p>
<table class="table table-condensed">
    <thead>
    <tr>
        <td><span class="glyphicon glyphicon-ok"></span></td>
        <td>Description
            <a href="#/create"><span class="glyphicon glyphicon-plus-sign pull-right"></span></a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks | filter:filterText">
        <td><input type="checkbox" ng-model="task.completed"/></td>
        <td class="{{ task.completed ? 'completed':'incomplete' }}">
            {{ task.description }}
            <a ng-click="deleteTask(task)">
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </a>

        </td>
    </tr>
    </tbody>
</table>